attrs>=19.2.0
coverage>=5.1
coveralls>=3.2.0
flake8>=3.9.2
hypothesis>=6.14.8
mypy>=0.910
numpy>=1.21.1
pytest>=6.2.4
pytest-cov>=2.12.1
scipy>=1.7.1
Sphinx>=4.1.2
sphinx-rtd-theme>=1.0.0
wheel>=0.34.2
