include README.rst
include LICENSE
include docs/*.rst
include docs/Makefile
include docs/make.bat
include docs/conf.py
include docs/_static/*
include docs/img/*
include test/*.py
include test/test.bat
include setup.cfg
